#hid{

    background-color : rgb(156, 231, 156);

}


.cls1{

background-color : pink;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    }


  body{

        background-color: #554433;


  }  